name: validate-phar

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  run:
    runs-on: ubuntu-latest
    name: Validate phar package
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4

      - name: Setup PHP
        uses: shivammathur/setup-php@2.11.0
        with:
          php-version: '7.4'
          tools: composer
          ini-values: phar.readonly=false
          extensions: ds

      - name: Composer install
        run: composer install --no-dev --prefer-dist

      - name: Download humbug/box
        run: curl -OL https://github.com/humbug/box/releases/download/3.8.3/box.phar > box.phar

      - name: Compile phar
        run: php box.phar compile

      - name: Run phar against code
        run: php build/composer-unused.phar --excludeDir=data
