name: CI Pipeline
on:
  workflow_dispatch:
  push:
    branches:
      - "[0-9]+.[0-9]+.x"
      - main
  pull_request:

jobs:
  coding-standard:
    name: "Coding Standard"
    runs-on: "${{ matrix.os }}"
    strategy:
      fail-fast: true
      matrix:
        os: [ "blacksmith-4vcpu-ubuntu-2204" ]
        php: [ "8.1" ]
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup PHP
        uses: shivammathur/setup-php@2.35.4
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2

      - name: Install dependencies
        run: composer update --no-progress --prefer-dist --optimize-autoloader

      - name: Check codestyle
        run: vendor/bin/phpcs -s

  static-analysis:
    name: "Static Analysis"
    runs-on: "${{ matrix.os }}"
    strategy:
      fail-fast: true
      matrix:
        php: [ "8.1", "8.2", "8.3", "8.4"  ]
        os: [ "blacksmith-4vcpu-ubuntu-2204" ]
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup PHP
        uses: shivammathur/setup-php@2.35.4
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2

      - name: Install dependencies
        run: composer update --no-progress --prefer-dist --optimize-autoloader

      - name: Analyze code with static-analysis
        run: vendor/bin/phpstan --no-progress

  unit-tests:
    name: "Unit Tests"
    runs-on: "${{ matrix.os }}"
    continue-on-error: "${{ matrix.experimental }}"
    strategy:
      fail-fast: false
      matrix:
        php: [ "8.1", "8.2", "8.3", "8.4" ]
        os: [ "blacksmith-4vcpu-ubuntu-2204" ]
        experimental: [ false ]
        include:
          - php: "8.1"
            composer-options: "--prefer-lowest"
            os: "blacksmith-4vcpu-ubuntu-2204"
            experimental: false
          - php: "8.4"
            composer-options: "--ignore-platform-req=php+"
            os: "blacksmith-4vcpu-ubuntu-2204"
            experimental: false

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup PHP
        uses: shivammathur/setup-php@2.35.4
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2
          extensions: http, ds, zip
        env:
          fail-fast: true

      - name: Install dependencies
        run: composer update --no-progress --prefer-dist --optimize-autoloader ${{ matrix.composer-options }}

      - name: Execute tests
        run: vendor/bin/phpunit --colors=always --coverage-text

  composer-unused:
    name: "Composer Unused"
    runs-on: "${{ matrix.os }}"
    continue-on-error: "${{ matrix.experimental }}"
    strategy:
      fail-fast: false
      matrix:
        php: [ "8.1", "8.2", "8.3", "8.4" ]
        os: [ "blacksmith-4vcpu-ubuntu-2204" ]
        experimental: [ false ]
        include:
          - php: "8.4"
            composer-options: "--ignore-platform-req=php+"
            os: "blacksmith-4vcpu-ubuntu-2204"
            experimental: false

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup PHP
        uses: shivammathur/setup-php@2.35.4
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2

      - name: Install dependencies
        run: composer update --prefer-dist --no-progress --no-suggest ${{ matrix.composer-options }}

      - name: Check unused dependencies
        run: bin/composer-unused --excludeDir=data

  aggregate-validate-code:
    name: Code Requirement Check
    runs-on: blacksmith-4vcpu-ubuntu-2204
    needs: [coding-standard, static-analysis, unit-tests, composer-unused]
    if: always()
    steps:
      - name: Check Overall Status
        run: |
          failed=0
          for job in $(jq -r 'keys_unsorted[]' <<< '${{ toJson(needs) }}'); do
            result=$(jq -r --arg job "$job" '.[$job].result' <<< '${{ toJson(needs) }}')
            echo "Job: $job - Status: $result"
            if [[ "$result" != "success" ]]; then
              failed=1
            fi
          done
          if [[ "$failed" -eq 0 ]]; then
            echo "✅ All jobs succeeded"
            exit 0
          else
            echo "❌ Some jobs failed"
            exit 1
          fi
