name: CI Pipeline
on:
  push:
    branches:
      - "[0-9]+.[0-9]+.x"
      - main
  pull_request:

jobs:
  coding-standard:
    name: "Coding Standard"
    runs-on: "${{ matrix.os }}"
    strategy:
      fail-fast: true
      matrix:
        os: [ "ubuntu-latest" ]
        php: [ "7.4" ]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@2.30.4
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2
          extensions: ds

      - name: Install dependencies
        run: composer update --no-progress --prefer-dist --optimize-autoloader

      - name: Check codestyle
        run: vendor/bin/phpcs -s

  static-analysis:
    name: "Static Analysis"
    runs-on: "${{ matrix.os }}"
    strategy:
      fail-fast: true
      matrix:
        php: [ "7.4" ]
        os: [ "ubuntu-latest" ]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@2.30.4
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2
          extensions: ds

      - name: Install dependencies
        run: composer update --no-progress --prefer-dist --optimize-autoloader

      - name: Analyze code with static-analysis
        run: vendor/bin/phpstan --no-progress

  unit-tests:
    name: "Unit Tests"
    runs-on: "${{ matrix.os }}"
    continue-on-error: "${{ matrix.experimental }}"
    strategy:
      fail-fast: false
      matrix:
        php: [ "7.4", "8.0", "8.1", "8.2", "8.3" ]
        os: [ "ubuntu-latest" ]
        experimental: [ false ]
        include:
          - php: "7.4"
            composer-options: "--prefer-lowest"
            os: "ubuntu-latest"
            experimental: false
          - php: "8.3"
            composer-options: "--ignore-platform-req=php+"
            os: "ubuntu-latest"
            experimental: false

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@2.30.4
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2
          extensions: ds

      - name: Install dependencies
        run: composer update --no-progress --prefer-dist --optimize-autoloader ${{ matrix.composer-options }}

      - name: Execute tests
        run: vendor/bin/phpunit --colors=always --coverage-text

  composer-unused:
    name: "Composer Unused"
    runs-on: "${{ matrix.os }}"
    continue-on-error: "${{ matrix.experimental }}"
    strategy:
      fail-fast: false
      matrix:
        php: [ "7.4", "8.0", "8.1", "8.2", "8.3" ]
        os: [ "ubuntu-latest" ]
        experimental: [ false ]
        include:
          - php: "8.3"
            composer-options: "--ignore-platform-req=php+"
            os: "ubuntu-latest"
            experimental: false

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@2.30.4
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2
          extensions: ds

      - name: Install dependencies
        run: composer update --prefer-dist --no-progress --no-suggest ${{ matrix.composer-options }}

      - name: Check unused dependencies
        run: bin/composer-unused --excludeDir=data

